<?xml version="1.0" encoding="UTF-8"?>

<!-- 복붙 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jl3b.touche_nubes.board.mapper.BoardSQLMapper">
	
	<!-- /////////////////////////////////////////////////공지사항 -->
	<select id="createKey" resultType="int">
		SELECT FB_Board_seq.NEXTVAL FROM DUAL
	</select>
	
	<!-- 글쓰기 -->
	<insert id="insertNotice">
	<![CDATA[
		INSERT INTO JL3B_NOTICE
		VALUES(
			JL3B_NOTICE_SEQ.NEXTVAL,
			#{resi_no},
			#{horsehead_sort},
			#{notice_title},
			#{notice_content},
			0,
			SYSDATE)
		]]>
	</insert>
	
	<!-- 글보기 -->
	<select id="selectNoticeByNo" resultType="com.jl3b.touche_nubes.noticevo.NoticeVo">
	<![CDATA[
		SELECT * FROM JL3B_NOTICE WHERE notice_no = #{no}	
	]]>
	</select>
	
	<!-- 게시글 개수 -->
	<select id="selectNoticeAllCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM JL3B_NOTICE
	]]>
	</select>
	
	<!-- 글삭제 -->
	<delete id="deleteNoticeByNo">
	<![CDATA[
		DELETE FROM JL3B_NOTICE WHERE notice_no = #{no}
	]]>	
	</delete>
	
	<!-- 글수정 -->
	<update id="updateNoticeByNo">
	<![CDATA[
		UPDATE JL3B_NOTICE 
		SET 
			notice_title = #{notice_title}, 
			notice_content = #{notice_content}, 
			notice_wdate = SYSDATE 
		WHERE 
			notice_no = #{notice_no}
	]]>
	</update>
	
	<!-- 조회수 -->
	<update id="updateNoticeReadCount">
		<![CDATA[
			UPDATE JL3B_NOTICE
			SET 
				notice_hits = notice_hits + 1 
			WHERE 
				notice_no = #{no}
		]]>
	</update>
	
	<!-- 전체 글 리스트 -->
	<select id="selectNoticeAll" resultType="com.jl3b.touche_nubes.noticevo.NoticeVo">
	<![CDATA[
		SELECT * 
		FROM(
		    SELECT ROWNUM rnum, t1.*
		    FROM(
		        SELECT * 
		        FROM JL3B_NOTICE 
		        ORDER BY notice_no DESC) t1
		        ) t2
		WHERE t2.rnum >= (#{currentPage}-1)*10+1 AND t2.rnum <= #{currentPage}*10
	]]>
	</select>
	
	<!-- 제목 검색 -->
	<select id="selectNoticeByTitle" resultType="com.jl3b.touche_nubes.noticevo.NoticeVo">
	<![CDATA[
		SELECT * 
		FROM(
		    SELECT ROWNUM rnum, t1.*
		    FROM(
		        SELECT * 
		        FROM JL3B_NOTICE 
		        WHERE notice_title LIKE '%' || #{title} || '%'
		        ORDER BY notice_no DESC) t1
		        ) t2
		WHERE t2.rnum >= (#{currentPage}-1)*10+1 AND t2.rnum <= #{currentPage}*10
	]]>
	</select>
	
	
	<!-- 검색시 게시글 개수 -->
	<select id="selectNoticeByTitleCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM JL3B_NOTICE WHERE notice_title LIKE '%'|| #{title} ||'%'
	]]>
	</select>
	
	
	
	<!-- ////////////////////////////////////////////////////////자게 -->
	<select id="createBoardKey" resultType="int">
		<![CDATA[
			SELECT JL3B_BOARD_seq.NEXTVAL FROM DUAL
		]]>
	</select>
	
	<insert id="insertBoard">
	    <![CDATA[
		INSERT INTO JL3B_BOARD
		VALUES(#{board_no},
		#{resi_no},
		'dd',
		#{board_title},
		#{board_content},
		0,
		SYSDATE)
		]]>
	</insert>

	<!-- 글보기 -->
	<select id="selectBoardByNo"
		resultType="com.jl3b.touche_nubes.boardvo.BoardVo">
     <![CDATA[
		SELECT * FROM JL3B_BOARD
		WHERE board_no=#{no}
		]]>
	</select>

	<!-- 전체 글 리스트 -->
	<select id="selectBoardAll"
		resultType="com.jl3b.touche_nubes.boardvo.BoardVo">
        <![CDATA[
	    SELECT * 
		FROM (
               SELECT ROWNUM rnum, t1.*  
               FROM(
                     SELECT * FROM JL3B_BOARD
                     ORDER BY board_no DESC) t1
                 )t2  
            WHERE t2.rnum >=(#{currPage}-1)*10+1 AND t2.rnum <=#{currPage}*10
		]]>
	</select>

	<!-- 글삭제 -->
	<delete id="deleteBoardByNo">
         <![CDATA[
		DELETE FROM JL3B_BOARD WHERE board_no=#{no}
		]]>
	</delete>

	<!-- 글수정 -->
	<update id="updateBoard">
        <![CDATA[
         UPDATE JL3B_BOARD SET board_title=#{board_title},
         board_content=#{board_content} WHERE board_no=#{board_no}
		]]>
	</update>

	<!-- 조회수 -->
	<update id="updateBoardReadCount">
      <![CDATA[
	      UPDATE JL3B_BOARD SET board_hits = board_hits+1
	      WHERE board_no=#{no}
      ]]>
	</update>
	<select id="selectHorseHead"
		resultType="com.jl3b.touche_nubes.horseheadvo.HorseheadVo">
		
			   <![CDATA[
		SELECT * FROM JL3B_HORSEHEAD
			]]>
	</select>
	<select id="selectBoardByTitle"
		resultType="com.jl3b.touche_nubes.boardvo.BoardVo">
	   <![CDATA[
		SELECT * 
		FROM (
               SELECT ROWNUM rnum, t1.*  
               FROM(
                     SELECT * FROM JL3B_BOARD WHERE board_title LIKE '%'||#{title}||'%'
                     ORDER BY board_no DESC) t1
                 )t2  
           WHERE t2.rnum >=(#{currPage}-1)*10+1 AND t2.rnum <=#{currPage}*10
		]]>
	</select>
	
	 <select id="selectBoardAllCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM JL3B_BOARD
		]]>
	</select>
	
	 <select id="selectBoardByTitleCount" resultType="int">
	    <![CDATA[
		SELECT COUNT(*) FROM JL3B_BOARD WHERE board_title LIKE '%'||#{title}||'%'
		]]>
	</select>
	
	<!-- 추천 -->
	<insert id="insertBoardLike">
		<![CDATA[
			INSERT INTO 
			JL3B_BOARD_LIKE 
			VALUES(
				JL3B_BOARD_LIKE_SEQ.NEXTVAL,
				#{resi_no}, 
				#{board_no},
				#{board_like}
				)
		]]>
	</insert>
	<!-- 본인확인 -->
	<select id="selectLikeByNo" resultType="com.jl3b.touche_nubes.boardvo.BoardLikeVo">
		<![CDATA[
			SELECT * 
			FROM 
			JL3B_BOARD_LIKE 
			WHERE resi_no = #{resi_no} AND board_no = #{board_no}
		]]>
	</select>
	<!-- 좋아요 개수 -->
	<select id="selectLikeUpCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM JL3B_BOARD_LIKE WHERE BOARD_LIKE = 'Y' AND BOARD_NO = #{BOARD_NO}
		]]>
	</select>
	<!-- 싫어요 개수 -->
	<select id="selectLikeDownCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM JL3B_BOARD_LIKE WHERE BOARD_LIKE = 'N' AND BOARD_NO = #{BOARD_NO}
		]]>
	</select>
	
</mapper>